<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="https://jakarta.ee/xml/ns/jakartaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
          version="6.0"
          metadata-complete="true">

    <context-param>
        <param-name>jdbc-url</param-name>
        <param-value>jdbc:mysql://host:port</param-value>
    </context-param>

    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>ua.ithillel.jee.web.SampleServlet</servlet-class>
        <init-param>
            <param-name>strParam</param-name>
            <param-value>strValue</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppPage</servlet-name>
        <jsp-file>/app.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AppPage</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>ua.ithillel.jee.web.listener.AppContextListener</listener-class>
    </listener>
    
    <error-page>
        <location>/404.jsp</location>
        <error-code>404</error-code>
    </error-page>

    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>ua.ithillel.jee.web.filter.LoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>


    <servlet>
        <servlet-name>JAXWSServlet</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JAXWSServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
</web-app>